<h1>Confirmation</h1>
<p>This action removes this event permanently from the server. Are you sure you want to continue?</p>
<form>
    <input class="h5 label-a" type="submit" ng-click="sure(item)" value="Delete" />
    <input class="h5 label-b" type="submit" ng-click="cancel()" value="Cancel" />
 </form>
