@each $ite in map-keys($items) {
    $temp: _label(0, $ite);
    .#{$temp} {
        @include justify;
        @include items($ite);
        @each $sel in map-keys($self) {
            .#{$sel} {
                @include self($sel);
            }
        }
    }
}
