@each $jus in map-keys($justify) {
    @each $ite in map-keys($items) {
        $temp: _label($jus, $ite);
        .#{$temp} {
            @include justify($jus);
            @include items($ite);
            @each $sel in map-keys($self) {
                .#{$sel} {
                    @include self($sel);
                }
            }
        }
    }
}
