@mixin align(
    $name: 'stretch'
) {
    align-content: _aling($name);
}

@function _align($name) {
    @if map-has-key($align, $name) {
        @return map-get($align, $name);
    }
    @warn "The key #{$name} is not in the map ’$align’";
    @return null;
}