@mixin display(
    $name
) {
    display: _display($name);
}

@function _display($name) {
    @if map-has-key($display, $name) {
        @return map-get($display, $name);
    }
    @warn "The key #{$name} is not in the map ’$display’";
    @return null;
}