@mixin order(
    $name: 0
) {
    order: _order($name);
}

@function _order($name) {
    @if map-has-key($order, $name) {
        @return map-get($order, $name);
    }
    @warn "The key #{$name} is not in the map ’$order’";
    @return null;
}