@function _label(
    $content,
    $align
) {
    @if ( $content == 0 ) {
        $content : xxx--;
    }
    @if ( $align == 0 ) {
        $align: j;
    }
    @if ( $content == x-x-x ) {
        @return #{$align}-#{$align}-#{$align};
    } 
    @if ( $content == -x-x- ) {
        @return -#{$align}-#{$align}-;
    } 
    @if ( $content == xxx-- ) {
        @return #{$align}#{$align}#{$align}--;
    } 
    @if ( $content == --xxx ) {
        @return --#{$align}#{$align}#{$align};
    } 
    @if ( $content == -xxx- ) {
        @return -#{$align}#{$align}#{$align}-;
    }
    @warn "`#{$content}` is `#{$align}` not a number of `add-10`.";
    @return false;
}
