/// Bitters configurations
figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

/// Own configurations
.card-qr{
  @include size(70px, 70px);
  @include border-right-radius(4px);
  @include border-left-radius(4px);
  background-color: #fff;
  @include shadow(1);
}