$phi: 1-$golden;
/// Bitters configurations
html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 14px;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
}
$h: $perfect-fourth;

h1 {
  font-size: modular-scale(4, 1em, $h);
  margin: 0 0 small-spacing(lg);
}

h2 {
  font-size: modular-scale(3, 1em, $h);
  margin: 0 0 small-spacing(lg);
}

h3 {
  font-size: modular-scale(2, 1em, $h);
  margin: 0 0 small-spacing(md);
}

h4 {
  font-size: modular-scale(1, 1em, $h);
  margin: 0 0 small-spacing(md);
}

h5 {
  font-size: modular-scale(0, 1em, $h);
  margin: 0 0 small-spacing(sm);
}

h6 {
  font-size: modular-scale(-1, 1em, $h);
    margin: 0 0 small-spacing(sm);
}

p {
  font-size: modular-scale(0, 1em, $h);
  margin: 0 0 small-spacing(md);
}

a {
  color: $action-color;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

/// Own configurations
.icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.title {
  @extend .pre-title;
  color: rgba(255,255,255,1);
}

.pre-title {
  position: relative;
  z-index: 10;
}

.u{
  text-decoration: underline;
}

.highlighted{
  color:orange;
}

.strong{
  font-weight: bold;
}

.gray{
  color: $medium-gray;  
}